$text-color: #212121;
$button-color: #2ECC71;

$large_desktop_breakpoint: 1200px;
$desktop_breakpoint: 992px;
$tablet_breakpoint: 768px;
$phone_breakpoint: 576px;

@mixin phone {
  @media screen and (min-width: #{$phone_breakpoint}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: #{$tablet_breakpoint}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: #{$desktop_breakpoint}) {
    @content;
  }
}
@mixin large-desktop {
  @media screen and (min-width: #{$large_desktop_breakpoint}) {
    @content;
  }
}

%button-style {
    display: block;
    width: 160px;
    height: 40px;
    margin: 30px auto;
    border: none;
    background-color: $button-color;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @include tablet {
        width: 180px;
        height: 45px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    padding: 0 30px;
    @include phone {
        padding: 0 60px;
    }
    @include tablet {
        width: 700px;
        margin: 0 auto;
    }
    @include large-desktop {
        width: 1200px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    .logo {
        width: 100%;
        &__img {
            width: 100%;
            height: auto;
        }
        @include large-desktop {
            width: 800px;
            margin: 0 auto;
        }
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        @include phone {
            justify-content: space-around;
        }
        @include desktop {
            margin-top: 5px;
        }
        @include large-desktop {
            justify-content: center;
        }
        .cats-img {
            width: 65px;
            margin: 0 5px;
            @include phone {
                width: 100px;
                margin: 0;
            }
            @include tablet {
                width: 120px;
            }
            @include large-desktop {
                width: 130px;
                margin: 0 10px;
            }
        }
    }
    &__text {
        line-height: 1.4em;
        font-size: 1.1em;
        text-align: center;
        margin-top: 40px;
        @include phone {
            font-size: 1.2em;
        }
        @include tablet {
            font-size: 1.3em;
        }
        @include desktop {
            margin: 60px 0;
            font-size: 1.35em;
        }
        @include large-desktop {
            padding: 0 20px;
        }
    }
    &__btn {
        @extend %button-style;
    }
}